PORT=3000
NODE_ENV=development
# MONGODB_URI=mongodb+srv://SomorMk:Pa$$w0rd!@cluster0.vnhtb1p.mongodb.net/?appName=Cluster0
MONGODB_URI=mongodb+srv://SomorMk:dLonPP1uvTf6k2uH@cluster0.vnhtb1p.mongodb.net/?appName=Cluster0
BASE_URL=http://localhost:3000
