PORT=3000
NODE_ENV=development
# MONGODB_URI=mongodb+srv://SomorMk:Pa$$w0rd!@cluster0.vnhtb1p.mongodb.net/?appName=Cluster0
MONGODB_URI=mongodb+srv://SomorMk:dLonPP1uvTf6k2uH@cluster0.vnhtb1p.mongodb.net/?appName=Cluster0
BASE_URL=http://localhost:3000
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>

# SMTP Email Configuration (Free using Gmail App Passwords, Mailtrap, Brevo, etc.)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM_NAME="Elfin Commerce"
